* {
    box-sizing: border-box;
    /*color: #262626;*/
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    background: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo', serif;
    margin-top: 0.81em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 38px;
    line-height: 1.23;
}

h2 {
    font-size: 30px;
    line-height: 1.35;
}

h3 {
    font-size: 24px;
    line-height: 1.35;
}

h4 {
    font-size: 20px;
    line-height: 1.4;
}

/*li.ant-select-dropdown-menu-item > i {*/
/*display: none;*/
/*}*/

/*li.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-selected > i {*/
/*display: block;*/
/*color: green;*/
/*}*/

/*li.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active > i {*/
/*display: block;*/
/*}*/
